form div
{
	margin-left: 26%;
}

form button
{
	margin-right: 35%;
}

.registration:hover
{
	border-bottom: solid 2px #E3C220;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page {
	flex: 1;
}

.form-text
{
	margin-left: 0px;
}