.nav-link
{
	padding-bottom: 0px;
}

.nav-link:hover
{
	border-bottom: solid #E3C220 2px;
}

.banner
{
	width: 360px;
    height: 250px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.banner:hover
{
	transform: scale(1.05);
}

.word
{
	text-decoration: none;
	color: black;
    font-weight: bold;
    font-size: larger;
    background-color: white;
    padding: 10px;
    top: 30%;
    left: 33%;
    text-transform: uppercase;
}

.word2
{
    left: 17%;
}

.banner:hover + .word
{
	background-color: #E3C220;
}

.word:hover
{
	background-color: #E3C220;
}

.street-bg
{
	background-image: url(../img/street.jpg);
	height: 350px;
	width: 100%;
}

.content
{
	background-color: #E3E3E3;
	position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
    height: 310px;
}

.contact
{
	text-decoration: none;
    color: #E3C220;
}

.contact:hover
{
	color: #E3C220;
	border-bottom: #E3C220 solid 2px;
}

.yellow
{
	color: #E3C220; 
}

.bg-gray
{
	background-color: #BDBDBD;
}