.navbar
{
	opacity: 0.95;
}

.banner
{
	width: 360px;
    height: 250px;
    transform: scale(1);
    transition: .3s ease-in-out;
}

.banner:hover
{
	transform: scale(1.05);
}

.word
{
	text-decoration: none;
	color: black;
    font-weight: bold;
    font-size: larger;
    background-color: white;
    padding: 10px;
    top: 30%;
    left: 33%;
    text-transform: uppercase;
}

.word2
{
    left: 17%;
}

.banner:hover + .word
{
	background-color: #E3C220;
}

.word:hover
{
	background-color: #E3C220;
}

.street-bg
{
	background: no-repeat url(../img/street.jpg);
	height: 350px;
	width: 100%;
}

.street2-bg
{
	background: no-repeat url(../img/street2.jpg);
	height: 350px;
	width: 100%;
}

.content
{
	background-color: #E3E3E3;
	position: absolute;
    top: 20px;
    left: 5%;
    width: 90%;
    height: 310px;
}

.lien
{
	text-decoration: none;
    color: black;
}

.lien:hover
{
	color: #E3C220;
}

.yellow
{
	color: #E3C220; 
}

.bg-gray
{
	background-color: #E4E4E4;
}

.link
{
	color: gray;
}

.link:hover
{
	color: #E3C220;
	border-bottom: none;
}

.hr-style
{
	background-color: #E3C220;
	width: 50%;
	margin-left: 24%;
	height: 2px;
	opacity: 0.8;
}