.category li::after
{
	content: "~";
	color: gray;
}

.category li:last-child::after
{
	content: " ";
	color: gray;
}

ul li a:hover
{
	border-bottom: #E3C220 solid 2px;
}

.bg-product
{
	background-color: #EFEFEF;
	border: none;
}

.card-body ul
{
	margin-bottom: 0px;
}

.light
{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: absolute;
    top: 30%;
}