.category li::after
{
	content: "~";
	color: gray;
}

.category li:last-child::after
{
	content: " ";
	color: gray;
}

ul li a:hover
{
	border-bottom: #E3C220 solid 2px;
}

.bg-product
{
	background-color: #EFEFEF;
	border: none;
}

.card-body ul
{
	margin-bottom: 0px;
}

.light
{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: absolute;
    top: 30%;
}

.img-size
{
	height: 400px;
}

.no-stock
{
	position: absolute;
    height: 400px;
    width: 18rem;
    background-color: black;
    opacity: 0.6;
    top: 0;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.page {
	flex: 1;
}