label
{
	position: relative;
}

.sizes
{
	width: 50px;
	height: 50px;
	-webkit-appearance: none;
    background-color: white;
    border-radius: 50%;
    margin: 0;
    outline: none;
    border: black solid 1px;
    cursor: pointer;
}

.no-sizes
{
	width: 50px;
	height: 50px;
	-webkit-appearance: none;
    background-color: red;
    border-radius: 50%;
    margin: 0;
    outline: none;
    border: black solid 1px;
    cursor: not-allowed;
}

label span
{
	position: absolute;
    top: 21%;
    color: black;
    cursor: pointer;
}

.empty
{
	position: absolute;
    top: 21%;
    color: white;
    cursor: not-allowed;
}

ul li:nth-child(1) span
{
	left: 20px;
}

ul li:nth-child(2) span
{
	left: 17px;
}

ul li:nth-child(3) span
{
	left: 21px;
}

ul li:nth-child(4) span
{
	left: 17px;
}

ul li:nth-child(5) span
{
	left: 13px;
}

.sizes:checked
{
	background-color: black;
}

.sizes:checked+span
{
	color: white;
}